@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

header{
  background: linear-gradient(180deg, #5FE19B 0%, #36B972 50%, #0EA152 100%);
}
input{
    background-image: url(https://i.ibb.co/0QvR4xC/Vector.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    text-indent: 35px;
}